#taskbar{
	height: 40px;
	width: 101%;
	background: black;
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0px;
	display: grid;
}

html{
	background-image: url(Ressources/Images/foggy_montain.jpg);
	background-size: cover;
}

#date{
	position: absolute;
	bottom: -15px;
	right: 0px;
	color: white;
}

#time{
	position: absolute;
	bottom: 2px;
	right: 20px;
	color: white;
}

#onload_popup{
	position: fixed;
	height: 70%;
	width: 400px;
	background-color: white;
	top: 5%;
	border-width: 1px;
	border-color: black;
	border: solid;
}

#exit{
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	margin-left: 92.5%;
	background-image: url(Ressources/Images/cross.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: dimgray;
}

#exit:hover {
	background-color: red;
}

#font_popup{
	font-size:small;
	font-family: 'Times New Roman', Times, serif;
}